

<div class="container pt-10" style="margin-top: 8%" >
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10" >
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 25pt;"
                ><strong>Capgemini</strong>
                , We are a global leader in partnering with companies to transform and manage their business by harnessing the power of technology. </span
             ><br />
              
            </p>
          </div>
  
          <!--div>
            <button
             mdbBtn
              type="button"
           
              class="buttonText"
             
              routerLink="/contact"
            >
           Contact 
            </button>

             

          </div-->
        </div>
      </div>
      <div class="col-sm d-flex justify-content-center ">
        <img src="assets/img/logo.jpg" width="500" height="300" style="margin-top: 18%;" />
      </div>
    </div>
  </div>
